{% extends "base.html" %}
{% load bootstrap3 %}

{% block icon_block %}
<div class="container">
  <div class="jumbotron tophead">
    <h1 style="text-align: center;"><i class="fa fa-user fa-2x" aria-hidden="true"></i></h1>
  </div>
</div>
{% endblock %}

{% block content_block  %}
{% if user.is_authenticated %}
<div class="container">
  <div class="jumbotron" style="background-color: #EFF7F6; text-align: center;">
      <h1 style="font-weight: lighter;">
      hey, {{ user.username }}
    </h1>
  </div>
</div>
{% endif %}

<div class="container">
  <div class="jumbotron">

<div class="row">
  <div class="col-xs-6" style="margin-top:10px; margin-bottom:10px;">
    Username:
  </div>
  <div class="col-xs-6" style="margin-top:10px; margin-bottom:10px;">
    {{ user.username}}
  </div>
</div>

<div class="row">
  <div class="col-xs-6" style="margin-top:10px; margin-bottom:10px;">
    Email Address:
  </div>
  <div class="col-xs-6" style="margin-top:10px; margin-bottom:10px;">
    {{ user.email }}
  </div>
</div>

<hr>

<div class="row">
  <div class="col-xs-6" style="margin-top:10px; margin-bottom:10px;">
        Number of images scrambled:
  </div>
  <div class="col-xs-6" style="margin-top:10px; margin-bottom:10px;">
  {{ user.profile.scramble_count }}
  </div>
</div>

<div class="row">
  <div class="col-xs-6" style="margin-top:10px; margin-bottom:10px;">
    Number of images unscrambled:
  </div>
  <div class="col-xs-6" style="margin-top:10px; margin-bottom:10px;">
  {{ user.profile.unscramble_count }}
  </div>
</div>

<div class="row">
  <div class="col-xs-6" style="margin-top:10px; margin-bottom:10px;">
    Number of bytes uploaded:
  </div>
  <div class="col-xs-6" style="margin-top:10px; margin-bottom:10px;">
  {{ n_o_b_u }}
  </div>
</div>



<hr>

<div class="row">
  <div class="col-xs-6" style="margin-top:10px; margin-bottom:10px;">
    User API key:
  </div>
  <div class="col-xs-6" style="margin-top:10px; margin-bottom:10px;">
  {{ userkey }}
  </div>
</div>

<div class="row">
  <div class="col-xs-6" style="margin-top:10px; margin-bottom:10px;">
    Token:
  </div>
  <div class="col-xs-6" style="margin-top:10px; margin-bottom:10px;">
  {{ token}}
  </div>
</div>

<div class="row">
  <div class="col-xs-6" style="margin-top:10px; margin-bottom:10px;">
    Remaining uses:
  </div>
  <div class="col-xs-6" style="margin-top:10px; margin-bottom:10px;">
  {{ remain }}
  </div>
</div>

<div class="row">
  <div class="col-xs-12" style="margin-top:10px; margin-bottom:10px;">
    <a href="{% url 'api:info' %}">More about our API</a>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-xs-6" style="margin-top:10px; margin-bottom:10px;">
    Total API requests:
  </div>
  <div class="col-xs-6" style="margin-top:10px; margin-bottom:10px;">
  {{ api_requests }}
  </div>
</div>

<div class="row">
  <div class="col-xs-6" style="margin-top:10px; margin-bottom:10px;">
    API Scrambles:
  </div>
  <div class="col-xs-6" style="margin-top:10px; margin-bottom:10px;">
  {{ api_scrambles }}
  </div>
</div>

<div class="row">
  <div class="col-xs-6" style="margin-top:10px; margin-bottom:10px;">
    API Unscrambles:
  </div>
  <div class="col-xs-6" style="margin-top:10px; margin-bottom:10px;">
  {{ api_unscrambles }}
  </div>
</div>

<br>

<div class="row">
  <div class="col-xs-12" style="margin-top:10px; margin-bottom:10px;">
    <button type="button" class="btn btn-primary btn-block btn-lg" name="button">Change Account Details</button>
  </div>
</div>

<br>

</div>
</div>



{% endblock %}
