{% extends "base.html" %}
{% load bootstrap3 %}

{% block icon_block %}
<h1 style="text-align: center;"><i class="fa fa-user fa-2x" aria-hidden="true"></i></h1>
{% endblock %}

{% block content_block  %}
{% if user.is_authenticated %}
<div class="container">
  <div class="jumbotron" style="background-color: #EFF7F6; text-align: center;">
      <h1 style="font-weight: lighter;">
      hey, {{ user.username }}
    </h1>
  </div>
</div>
{% endif %}

<div class="container">
  <div class="jumbotron">

<div class="row">
  <div class="col-xs-6" style="margin-top:10px; margin-bottom:10px;">
    Username:
  </div>
  <div class="col-xs-6" style="margin-top:10px; margin-bottom:10px;">
    {{ user.username}}
  </div>
</div>

<div class="row">
  <div class="col-xs-6" style="margin-top:10px; margin-bottom:10px;">
    Email Address:
  </div>
  <div class="col-xs-6" style="margin-top:10px; margin-bottom:10px;">
    {{ user.email }}
  </div>
</div>

<div class="row">
  <div class="col-xs-6" style="margin-top:10px; margin-bottom:10px;">
        Number of images scrambled:
  </div>
  <div class="col-xs-6" style="margin-top:10px; margin-bottom:10px;">
  {{ user.profile.scramble_count }}
  </div>
</div>

<div class="row">
  <div class="col-xs-6" style="margin-top:10px; margin-bottom:10px;">
    Number of images unscrambled:
  </div>
  <div class="col-xs-6" style="margin-top:10px; margin-bottom:10px;">
  {{ user.profile.unscramble_count }}
  </div>
</div>

<div class="row">
  <div class="col-xs-6" style="margin-top:10px; margin-bottom:10px;">
    Number of bytes uploaded:
  </div>
  <div class="col-xs-6" style="margin-top:10px; margin-bottom:10px;">
  {{ user.profile.total_size_of_uploaded_images }}
  </div>
</div>

<br>

<div class="row">
  <div class="col-xs-12" style="margin-top:10px; margin-bottom:10px;">
    <button type="button" class="btn btn-primary btn-block btn-lg" name="button">Change Account Details</button>
  </div>
</div>

</div>
</div>



{% endblock %}
