{% extends 'base.html' %}

{% block icon_block %}
<h1 style="text-align: center;"><i class="fa fa-download fa-2x" aria-hidden="true"></i></h1>
{% endblock %}


{% block content_block %}

<div id="jsal1" class="container">
  <div  class="alert alert-danger">
    As JavaScript is disabled, after ".com", put /scrambler/{{dl_url}}
  </div>
</div>

<div id="jsal2" class="container">
  <div class="alert alert-danger">
    Then, once you see some text appear, change it to /scrambler/down/{{dl_url}}
  </div>
</div>

<div id="jsal3" class="container">
  <div class="alert alert-danger">
    After you have downloaded your file, change it to /scrambler/done/{{dl_url}}
  </div>
</div>

<div class="container">
  <div class="jumbotron" style="background-color: #EFF7F6; text-align: center;">
  <h3 id="note">Please wait while we prepare your download</h3>
  <!--<h3> {{ dl_url }}</h3>-->
  </div>
</div>

<div class="container">
  <div class="jumbotron">
      <button type="button" id="downdis" class="btn btn-lg btn-primary btn-block disabled" name="button"><i class="fa fa-cog fa-2x slow-spin fa-spin"></i></button>

    <a id="downen_link" style="display: none;" href="{% url 'scrambler:down' hash=dl_url %}" style="font-decoration: none;">
    <button type="button" id="downen" class="btn btn-lg btn-success btn-block enabled" name="button" style="border-bottom-left-radius: 0px; border-bottom-right-radius:0px;">
            <i class="fa fa-arrow-circle-o-down fa-2x"></i>
    </button>
    <div class="" style="background-color: #a1f4a1; padding: 10px; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px; color: #FFFFFA; border: solid 2px #5cb85c; border-top: 0px;">


    <strong>Click here</strong> if the download doesn't automatically start
      </div>
  </a>

  <br>

  <a id="done_link" style="display: none;" href="{% url 'scrambler:done' hash=dl_url %}" style="font-decoration: none;">
  <button type="button" id="done" class="btn btn-lg btn-primary btn-block enabled" name="button"  style="border-bottom-left-radius: 0px; border-bottom-right-radius:0px;">

        <i class="fa fa-check-circle-o fa-2x"></i>
      </button>

        <div class="" style="background-color: #7ac1ff; padding: 10px; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px; color: #FFFFFA; border: solid 2px #337ab7; border-top: 0px;">
              <strong>Downloaded?</strong> Click here to clear your files from the server
          </div>
</a>
  </div>
</div>

<div class="container" style="display:none;">
  <div class="jumbotron">
    <a id="runProc" href='{% url 'scrambler:url' hash=dl_url %}'>
    <button  type="button" name="button">Click to run process</button>
    </a>
  </div>
</div>

<div class="container" style="display: none;">
  <div class="jumbotron">
    <a href="{% url 'scrambler:down' hash=dl_url %}">
    <button id="downProc" type="button"  name="button">Click to download</button>
    </a>
    </div>
</div>

{% endblock %}

{% block js_block %}
<script type="text/javascript">
    $( document ).ready(function() {
      $.ajax({
        url: $('#runProc').attr("href"),
        dataType: 'json',
        success: function (data) {
          if (data.proc) {
            $('#note').text("Your download is ready");
            $('#downdis').css("display", "none");
            $('#downen_link').css("display", "block");
            $('#done_link').css("display", "block");

            $('#downen_link')[0].click();

            }
        else {
          }
        }
    });
  });
</script>

<script type="text/javascript">
  $('#jsal1').css("display", "none");
    $('#jsal2').css("display", "none");
      $('#jsal3').css("display", "none");
</script>
{% endblock %}
