/*@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,400italic");*/
@import url("https://fonts.googleapis.com/css?family=Noto+Sans");
@media screen {

  html, body { height: 100%; width: 100%; margin: 0;  background-color: #FFFFFA;}

  body, p{
    font-family: 'Noto Sans', sans-serif !important;
    font-weight: lighter;
    font-size: 16px;
    color: #444;}


.rowhead{
  background-color: #4C6085;
  color: #FFFFFA;
}

.indhead{
  background-image: url("/static/images/new.jpg");
  background-position: center;
  background-size: cover;
}

  .red{
    background-color: #FFFFFA;
  }

  .coltext{
     padding: 10px;
      padding-left: 40px;
       padding-right:40px;
  }

  .slow-spin {
  -webkit-animation: fa-spin 6s infinite linear;
  animation: fa-spin 6s infinite linear;
}

.diamond{
color: #0093D1;
  background-color: #FFFFFA;
  border: 1px solid #FFFFFA;
  border-radius: 5px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.diamond:hover{
  background-color: #0093D1;
  color: #FFFFFA;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.devices{
  border: 1px solid #FFFFFA;
  border-radius: 5px;
    background-color: #FFFFFA;
    color: #F2635F;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.devices:hover{
    background-color: #F2635F;
    color: #FFFFFA;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.free{
  border: 1px solid #FFFFFA;
  border-radius: 5px;
    background-color: #FFFFFA;
    color: #F4D00C;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.free:hover{
background-color: #F4D00C;
color: #FFFFFA;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}




ul {
  list-style-type: circle;
}

.email{
color:  #ea4335;
border: 1px solid #FFFFFA;
border-radius: 5px;
            -webkit-transition: all 0.4s ease-in-out;
            -moz-transition: all 0.4s ease-in-out;
            -o-transition: all 0.4s ease-in-out;
            transition: all 0.4s ease-in-out;
}

.email:hover{
color: #FFFFFA;
background-color: #ea4335;

          -webkit-transition: all 0.4s ease-in-out;
          -moz-transition: all 0.4s ease-in-out;
          -o-transition: all 0.4s ease-in-out;
          transition: all 0.4s ease-in-out;
}

.twitter{
  color:  #1da1f2;
  border: 1px solid #FFFFFA;
  border-radius: 5px;
            -webkit-transition: all 0.4s ease-in-out;
            -moz-transition: all 0.4s ease-in-out;
            -o-transition: all 0.4s ease-in-out;
            transition: all 0.4s ease-in-out;
}

.twitter:hover{
color: #FFFFFA;
background-color: #1da1f2;

          -webkit-transition: all 0.4s ease-in-out;
          -moz-transition: all 0.4s ease-in-out;
          -o-transition: all 0.4s ease-in-out;
          transition: all 0.4s ease-in-out;
}

.facebook{
  color:#3b5998;
  border: 1px solid #FFFFFA;
  border-radius: 5px;
            -webkit-transition: all 0.4s ease-in-out;
            -moz-transition: all 0.4s ease-in-out;
            -o-transition: all 0.4s ease-in-out;
            transition: all 0.4s ease-in-out;
}

.facebook:hover{
color: #FFFFFA;
background-color: #3b5998;

          -webkit-transition: all 0.4s ease-in-out;
          -moz-transition: all 0.4s ease-in-out;
          -o-transition: all 0.4s ease-in-out;
          transition: all 0.4s ease-in-out;
}

.tophead{
  border: 1px solid #4C6085;
/*  background-color:#39A0ED;*/
  background-color: #4C6085;
  color: #FFFFFA;
  height: 100%;
}

.errorhead{
  border: 1px solid #ec0b43;
/*  background-color:#39A0ED;*/
  background-color: #ec0b43;
  color: #FFFFFA;
  height: 100%;
}



#modalhead {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  color: #FFFFFA;
  background-color: #39A0ED;
}

.indextop {
color: #FFFFFA;
text-align: center;
}

}
