<!DOCTYPE html>

{% extends "base.html" %}
{% load bootstrap3 %}



{% block icon_block %}
<h1 style="text-align: center;"><i class="fa fa-sign-in fa-2x" aria-hidden="true"></i></h1>
{% endblock %}

{% block content_block  %}
<div class="container">

<div class="jumbotron">

  <div class="container">

  <form method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    <input type="submit" name="" value="Login" class="btn btn-success btn-block btn-lg">
  </form>
</div>
</div>
</div>
{% endblock %}

{% block head_block %}
<style type="text/css">
label[for="id_username"]
{
  display:none;
}
label[for="id_password"]
{
  display:none;
}
</style>
{% endblock %}
