<!DOCTYPE html>

{% extends "base.html" %}
{% load bootstrap3 %}



{% block icon_block %}
<div class="container">
  <div class="jumbotron tophead">
    <h1 style="text-align: center;"><i class="fa fa-sign-in fa-2x" aria-hidden="true"></i></h1>
  </div>
</div>
{% endblock %}

{% block content_block  %}
<div class="container">

<div class="jumbotron">

  <div class="container">

    {% if user.is_authenticated %}
    <h1 style="text-align:center;">You're already logged in, silly</h1>
    {% else %}
    <form method="post">
      {% csrf_token %}
      {% bootstrap_form form %}
      <input type="submit" name="" value="Login" class="btn btn-success btn-block btn-lg">
    </form>
    <br>
    <a href="{% url 'accounts:signup' %}">Or create an account here</a>
    {% endif %}


</div>
</div>
</div>
{% endblock %}

{% block head_block %}
<style type="text/css">
label[for="id_username"]
{
  display:none;
}
label[for="id_password"]
{
  display:none;
}
</style>
{% endblock %}
