<!DOCTYPE html>

{% extends "base.html" %}
{% load bootstrap3 %}

{% block icon_block %}
<h1 style="text-align: center;"><i class="fa fa-plus-square-o fa-2x" aria-hidden="true"></i></h1>
{% endblock %}

{% block content_block  %}
<div class="container">
  <div class="jumbotron">
    <div class="container">

  <form method="post" data-validate-username-url="{% url 'accounts:validate_username' %}" data-validate-email-url="{% url 'accounts:validate_email' %}"></>
    {% csrf_token %}
    {% bootstrap_form form %}
    <input type="submit" name="" value="Create Account" class="btn btn-success btn-block btn-lg">
  </form>
</div>
</div>

</div>
{% endblock %}


{% block head_block %}
<style type="text/css">

label
{
  display:none;
}

.help-block {
  display: none;
}
</style>
{% endblock %}



{% block js_block %}

<script>
$("#id_username").change(function () {
  var form = $(this).closest("form");

  $.ajax({
    url: form.attr("data-validate-username-url"),
    data: form.serialize(),
    dataType: 'json',
    success: function (data) {
      if (data.is_taken) {
        $("#id_username").val("");
        $("#id_username").attr("placeholder", "That username is taken");
        $("#id_username").css("border-color", "#ff6666");
        $("#id_username").focus();
      }
      else {

        $("#id_username").css("border-color", "#66ff99");
      }
    }
  });

});
  </script>

  <script>
  $("#id_email").change(function () {
    var form = $(this).closest("form");

    $.ajax({
      url: form.attr("data-validate-email-url"),
      data: form.serialize(),
      dataType: 'json',
      success: function (data) {
        if (data.is_taken) {
          $("#id_email").val("");
          $("#id_email").attr("placeholder", "That email address is taken");
          $("#id_email").css("border-color", "#ff6666");

          $("#id_email").focus();

        }
        else {

          $("#id_email").css("border-color", "#66ff99");
        }
      }
    });

  });
    </script>


{% endblock %}
