{% extends 'base.html' %}

{% block icon_block %}
<div class="container">
  <div class="jumbotron tophead">
    <h1 style="text-align: center;"><i class="fa fa-question fa-2x" aria-hidden="true"></i></h1>
  </div>
</div>
{% endblock %}


{% block content_block %}

<div class="container">
  <div class="jumbotron" style="background-color: #EFF7F6; text-align: center;">
  <h3 style="font-weight: lighter;">Want to know more?</h3>
  </div>
</div>

<div class="container">
  <div class="jumbotron">


    <p>Tricle develops web apps for enhancing privacy.</p>
    <ul>


    <li>The Scrambler is a program which takes an image and uses an algorithm to 'scramble' the pixels. This effectively encryptions the image and is used as
     a form of encryption. While the algorithm is secure, it shouldn't be used exclusively. Actual encryption technologies are required for full privacy; this algorithm
   is just an additional layer of security. In scrambled images, you may notice little squares. These are a misdirection, and even if someone tries put them back together, they
 won't successfully recreate the image.</li>

<br>

   <li>There are currently a few more web apps and an Android app in development. One web app uses the Scrambler algorithm to hide additional information within images
   and has had some promising results. The android app uses true encryption technologies but in a novel way (hopefully).</li>

<br>

   <li>To use the tools, an account is required. An account is free to create and only requires a username, an email address, and a password. The account allows us to
   keep track of how much the tool is being used without invasive tracking tools and cookies.</li>
</ul>

    </div>
</div>


{% endblock %}
