<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Hide your images in plain sight for free">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="shortcut icon" href="{%  static 'icons/favicon-lock.ico' %}">
{% block head_block%}

{% endblock %}

    <!-- Color the status bar on mobile devices -->

    <meta name="theme-color" content="#000000">

	<script
  src="https://code.jquery.com/jquery-3.1.1.js"
  integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
  crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<link rel="stylesheet" href=" {% static 'css/master.css' %}">


<title>Tricle</title>

<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-" crossorigin="anonymous">

<!--[if lte IE 8]>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-old-ie-min.css">
<![endif]-->
<!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
<!--<![endif]-->

<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">

    <!--[if lte IE 8]>
        <link rel="stylesheet" href=" {% static 'css/pure-ie.css' %}">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href=" {% static 'css/pure.css' %}">
    <!--<![endif]-->



</head>
<body id="content">

  <div class="header">
      <div class="home-menu pure-menu-horizontal">
          <a class="pure-menu-heading" href="{% url 'home' %}">Tricle</a>

          <ul class="pure-menu-list">
            {% if user.is_authenticated %}
              <li class="pure-menu-item"><a href="{% url 'home' %}#apps" class="pure-menu-link">Apps</a></li>
              <li class="pure-menu-item"><a href="{% url 'scrambler:account' %}" class="pure-menu-link">Account</a></li>
              <li class="pure-menu-item"><a href="{% url 'accounts:logout' %}" class="pure-menu-link">Logout</a></li>
              {% else %}
              <li class="pure-menu-item"><a href="{% url 'home' %}#apps" class="pure-menu-link">Apps</a></li>
              <li class="pure-menu-item"><a href="{% url 'accounts:login' %}" class="pure-menu-link">Log In</a></li>
              <li class="pure-menu-item"><a href="{% url 'accounts:signup' %}" class="pure-menu-link">Sign Up</a></li>
              {% endif %}
          </ul>
      </div>
  </div>


{% block icon_block %}

{% endblock %}

<div class="container"  id="jsalert">
<div class="alert alert-danger">
  <strong>Attention!</strong> Please enable JavaScript for full functionality.
</div>
</div>

{% block content_block %}

{% endblock %}


<script type="text/javascript" src="{% static 'tricle/js/jscheck.js' %}"></script>

{% block js_block %}

{% endblock %}


</body>

<footer>
<div class="container text-center">
<br><br><br>
  <div class="row">
    <div class="col-lg-12">
      <div class="col-md-4">
        <ul class="nav nav-pills nav-stacked">
          <li><a href="{% url 'about' %}">About us</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="nav nav-pills nav-stacked">
          <li><a href="{% url 'go' %}">Getting Started</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="nav nav-pills nav-stacked">
          <li><a href="https://imgur.com/a/QcMTV" >Examples</a></li>
        </ul>
      </div>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-lg-12">
      <div class="col-md-4">
        <ul class="nav nav-pills nav-stacked">
          <li><a href="{% url 'global' %}">Analytics</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="nav nav-pills nav-stacked">
          <li><a href="{% url 'contact' %}">Contact Us</a></li>
        </ul>
      </div>
      <div class="col-md-4">

        <ul class="nav nav-pills nav-stacked">
          <li><a href="{% url 'privacy' %}">Privacy</a></li>
        </ul>
      </div>
    </div>
  </div>

<hr>

<p style="text-align: center;">&copy Tricle 2017</p>

</div>
<br>

</footer>

</html>
