{% extends 'base.html' %}

{% block icon_block %}
<div class="container">
  <div class="jumbotron tophead">
    <h1 style="text-align: center;"><i class="fa fa-play-circle fa-2x" aria-hidden="true"></i></h1>
  </div>
</div>
{% endblock %}


{% block content_block %}
<div class="container">
  <div class="jumbotron" style="background-color: #EFF7F6; text-align: center;">
  <h3 style="font-weight: lighter;">Get Started</h3>
  </div>
</div>

<div class="container">
  <div class="jumbotron">
    <p>Once you have logged in, you'll be shown a form asking for three keys, the images you want to scramble, and whether you want to scramble or unscramble.</p>

    <p>The order of your keys is important and must be remembered. The keys can be whatever you want, but try not to make them too obvious.</p>

    <p>The keys are case-sensitive, should be at least three characters long, and shouldn't contain whitespace.</p>

    <p>Select the bmp/jpeg/png images that you want to hide, select scramble, and click start.</p>

    <p>Or if you want to unhide some images, select unscramble.</p>

    <p>You'll be redirected to a download page. The download should start automatically, but if it doesn't, click the download button.</p>

    <p>Once you have downloaded your processed files, click the blue button, which will remove any temporary files left on our servers.</p>

  </div>
</div>
{% endblock %}
