{% extends 'base.html' %}

{% block icon_block %}
<h1 style="text-align: center;"><i class="fa fa-lock fa-2x" aria-hidden="true"></i></h1>
{% endblock %}

{% block content_block %}


<div class="container"  id="jsalert">
<div class="alert alert-info">
  <strong>This site is in early alpha</strong> - Some content and functionality is yet to be added.
</div>
</div>


{% if user.is_authenticated %}
<div class="container">
	<div class="jumbotron" style="background-color: #EFF7F6;">

<a style="text-decoration: none" href="{% url 'scrambler:start' %}"><button type="button" class="btn btn-success navbar-btn btn-block btn-lg">Start Scrambling</button></a>
<a style="text-decoration: none" href="{% url 'accounts:logout' %}"><button type="button" class="btn btn-warning navbar-btn btn-block btn-lg">Logout</button></a>
</div>
</div>
{% else %}
<div class="container">
	<div class="jumbotron" style="background-color: #EFF7F6;">

<a style="text-decoration: none" href="{% url 'accounts:login' %}"><button type="button" class="btn btn-success navbar-btn btn-block btn-lg">Login</button></a>
<a style="text-decoration: none" href="{% url 'accounts:signup' %}"><button type="button" class="btn btn-primary navbar-btn btn-block btn-lg">Create Account</button></a>
</div>
</div>
{% endif %}

{% endblock %}
