{% extends 'base.html' %}

{% block icon_block %}
<div class="container">
  <div class="jumbotron tophead">
    <h1 style="text-align: center;"><i class="fa fa-user-secret fa-2x" aria-hidden="true"></i></h1>
  </div>
</div>
{% endblock %}


{% block content_block %}
<div class="container">
  <div class="jumbotron" style="background-color: #EFF7F6; text-align: center;">
  <h3 style="font-weight: lighter;">Terms, Conditions, and Privacy</h3>
  </div>
</div>

<div class="container">
  <div class="jumbotron">
    <p>Privacy is important, therefore below we outline our commitments to our users.</p>

    <ul>
      <li>Account passwords are not stored in plain text</li>
      <li>Very little information is needed to create an account. Just a username, email address, and password</li>
      <li>We currently don't use Google Analytics or any other form of user tracking services</li>
      <li>Files are only stored on our servers for the duration of the conversion and download</li>
      <li>Once you click the 'Done' button, any remaining files are immediately removed. If you don't click the button, they are automatically removed within a few minutes</li>
      <li>The only information we collect during a scrambling interaction is the number of files and the file sizes. The totals are shown on your Accounts page</li>
      <li>Any changes to our policy will be notified either by email, or on the scrambling page or main page</li>
    </ul>

    <br>

    <p>Terms and conditions are shown below.</p>

    <ul>
      <li>We are not liable for any loss of data</li>
      <li>The scrambler shouldn't be your only means of security, it is just an additional layer of security</li>
      <li>If the site ever shuts down, the source code will be posted on GitHub, along with an offline desktop version, written with Python3, for free. The users will
      be notified in advance</li>
    </ul>
  </div>
</div>
{% endblock %}
